* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: #05d182;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: Arial, sans-serif;
}

.landing-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  color: #114441;
  font-size: 200px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.subtitle {
  color: #114441;
  font-size: 150px;
  font-weight: bold;
  margin-bottom: 100px;
  text-align: center;
}

.button-area {
  width: 400px;
  display: flex;
  justify-content: space-around;
}

.button-area a {
  width: 140px; /* 가로 너비 */
  height: 60px; /* 세로 높이 */
  font-size: 20px; /* 글자 크기 */
}
