<!doctype html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>마니또</title>

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/style.css') }}"
    >
</head>

<body class="index-page">

    <div class="landing-container">

        <div>
            <h1 class="title">Jungle</h1>
            <h2 class="subtitle">ㅁㄴㄸ</h2>
        </div>

        <div class="button-area">

            <a
                href="{{ url_for('login') }}"
                class="index-button"
            >
                로그인
            </a>

            <a
                href="{{ url_for('signup') }}"
                class="index-button"
            >
                회원가입
            </a>

        </div>

    </div>

</body>

</html>