<!doctype html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>로그인</title>

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/style.css') }}"
    >
</head>

<body class="auth-page">

    <div class="auth-container">

        <div class="button-logo">
            <a
                href="{{ url_for('index') }}"
                class="index-link"
            >
                ㅁㄴㄸ
            </a>
        </div>


        {% if error %}
            <p class="form-error">
                {{ error }}
            </p>
        {% endif %}


        <form
            class="auth-form"
            method="POST"
            action="{{ url_for('login') }}"
        >

            <input
                type="text"
                name="username"
                placeholder="ID"
                class="auth-input"
                required
            >

            <input
                type="password"
                name="password"
                placeholder="PW"
                class="auth-input"
                required
            >

            <button
                type="submit"
                class="auth-button"
            >
                로그인
            </button>

        </form>

    </div>

</body>

</html>